/* Font-size */
$font-xsmall			: .25rem;
$font-small			: .75rem;
$font-med				: 1rem;
$font-large				: 1.25rem;
$font-larger			: 1.5rem;
$font-xl				: 2rem;
$font-xxl				: 2.75rem;
$font-xxxl				: 3rem;

/* Padding/margin */
$none					: 0;
$tiny-gap				: 0.15rem;
$small-gap				: 0.5rem;
$med-gap				: .75rem;
$large-gap				: 1rem;
$xlarge-gap			: 1.25rem;
$xlarger-gap			: 1.5rem;
$xxlarge-gap			: 1.75rem;
$xxxlarge-gap			: 2rem;
$super-gap				: 3rem;

/* Line-height */
$lineh-mini			: 0.5;
$lineh-small			: .75;
$lineh-med			: 1;
$lineh-large			: 1.75;
$lineh-xl				: 2.5;

/* General Color-palette */
$dblack				: #171819;
$black					: #1D1D1D;
$lblack					: #302F30;
$dgray					: #575757;
$gray					: #989898;
$lgray					: #BCBCBC;
$palewhite				: #DCDCDC;
$dwhite				: #ECECEC;
$white					: #F8F8F8;

$reddish 				: #772a2a;
$lred					: #F16D68;
$red					: #B54531;
$dred					: #CB2C20;
$lorange				: #ED7E2C;
$orange				: #D16117;
$dorange				: #FF5A13;
$gold					: #D9AF7B;
$lyellow				: #F7FF9F;
$yellow				: #FFFC5A;
$dyellow				: #E0AF2C;
$lgreen				: #7CD06B;
$green					: #40A73E;
$teal					: #5B9D8C;
$lblue					: #D1E0EB;
$logoblue				: #8ED9F0;
$blue					: #5C89AD;
$dblue					: #3965AF;
$lpurple				: #766077;
$purple				: #894B74;
$dpurple				: #6D006D;

/* Social Media Colors */
$facebook				: #2D4787;
$twitter				: #439CEA;
$linkedin				: #1472AD;
$github 				: #7B56AF;
$instagram				: #0F4475;
$pinterest				: #AD1A21;
$google				: #DE4633;