
div.meta-box
	h2.post-title
		a(href='#') Apple's Big Update
	h4.post-meta.make-note In <a href="#" class="post-category">Software</a> by <a href="#" class="post-author">James Searson</a> on October 10, 2015
div.post-styles
	p
		| I finally managed to get Apple's new release of OS X El Capitan this afternoon.  Sure it took some willpower to put up with the absolute atrocity that is "the App Store".  Nonetheless, I have installed it and feel the need to say just a few things regarding my feelings on this years software update: