//- metas.jade
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=Edge, Chrome=1')
meta(name='description' content='insert description here')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='title' content='insert title here')
meta(name='description' content='insert description here')
meta(property='og:type' content='website')
meta(property='og:url' content='http://sample.com/')
meta(property='og:site_name' content='developer name')
meta(property='og:title' content='insert title here')
meta(property='og:description' content='insert description here')