//- stylsheets.jade
link(rel='apple-touch-icon' sizes='144x144' href='$apple-touch-url')
link(rel='icon' type='image/png' href='$favicon-url' sizes='32x32')
link(rel='manifest' href='$manifest-url')
link(rel='stylesheet' href='css/style.css')